* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Libre Caslon Text', serif;
  }
  body {
    
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: gray;
    height: 50px;
  }
  
  .left_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 35%;
  }
  .right_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    height: 100%;
    width: 65%;
  }
  
  .personal_info {
    display: flex;
    border-top: 4px solid black;
    border-bottom: 2px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 675px;
    background-color: lightgray;
  }
  
  .one, .two, .three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 625px;
    max-width: 800px;
    background-color: rgb(170, 170, 170);
    border: 2px solid black;
    padding: 20px;
  }
  
  .contact_info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: lightgray;
    border: 1px solid black;
  }

  #face_picture {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .nav_title {
    align-self: left;
    margin-left: 10px;
  }

  .first_item_title, .second_item_title {
    margin-top: 0;
    margin: 20px auto;
  }

  a:hover {
    opacity: 60%;
  }

  a:hover .hidden {
    visibility: visible;
    opacity: 100%;
  }

  .background_pic {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
  }

  ul {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  ul li {
    list-style-type: none;
  }

  h1 {
    font-family: 'Prata', serif;
  }

  .work_pic {
    padding-bottom: 10px;
  }

  .my_work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 100, 153);
    padding: 10px;
    margin-top: 5px;
    border-top: 2px solid black;
  }

  .my_work_title {
    margin: 10px;
  }

  

  @media screen and (min-width: 700px) {
    .personal_info {
      flex-direction: row;
      height: 500px;
    }
  }

  .works {
    margin-bottom: 30px;
  }
  
  .made_with {
    margin: 10px;
  }

  .description {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  p, a {
    margin: auto auto;
  }

  a {
    color: blue;
    text-decoration: underline;
  }

  .hidden {
    visibility: hidden;
  }

  .contact {
    color: inherit;
  }

  .contact_links {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
  }

  #face_picture {
    height: 250px;
    width: 250px;
  }

  .work_pic {
    height: 400px;
    width: 100%;
  }

  .navigation_bar {
    background-color: rgb(170, 170, 170);
    margin-bottom: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .dropdown_button {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown_button:hover, .dropdown_button:focus {
    background-color: #2980B9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    margin-top: 70px;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown_content .link {
    color: black;
    text-decoration: none;
    display: block;
  }

  .dropdown_content .link:hover {background-color: #ddd}

  .show {display:block;}

  nav {
    padding-left:10px;
  }

  @media screen and (min-width: 500px){
    .works {
      height: 600px;
    }
    .work_pic {
      height: 300px;
    }
  }

  @media screen and (max-width: 420px) {
    .works {
      min-height: 500px;
    }
    .work_pic {
      height: 300px;
    }
    .personal_info {
      min-height: 800px;
    }
  }

  .link {
    min-width: 100px;
    min-height: 30px;
  }

  .app_link {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px 5px;
    text-decoration: none;
    border: 2px solid black;
    color: black;
    background-color: rgb(88, 100, 153);
  }