* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Libre Caslon Text', serif;
  }
  body {
    
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: gray;
    height: 50px;
  }
  
  .left_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 35%;
  }
  .right_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    height: 100%;
    width: 65%;
  }
  
  .personal_info {
    display: flex;
    border-top: 4px solid black;
    border-bottom: 2px solid black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: lightgray;
  }
  
  .one, .two, .three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: rgb(170, 170, 170);
    border: 2px solid black;
    padding: 20px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-color: rgb(170, 170, 170);
    border: 1px solid black;
  }

  #face_picture {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .nav_title {
    align-self: left;
    margin-left: 10px;
  }

  .first_item_title, .second_item_title {
    margin-top: 0;
    margin: 20px auto;
  }

  .one:hover {
    opacity: 80%;
  }

  .two:hover {
    opacity: 80%;
  }

  .three:hover {
    opacity: 80%;
  }


  a {
    color: inherit;
  }

  .background_pic {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
  }

  ul {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  ul li {
    list-style-type: none;
  }

  h1 {
    font-family: 'Prata', serif;
  }

  .work_pic {
    padding-bottom: 10px;
  }

  .my_work {
    background-color: rgb(88, 100, 153);
    padding: 10px;
    margin-top: 5px;
    border-top: 2px solid black;
  }

  .my_work_title {
    margin: 10px;
  }

  a {
    text-decoration: none;
  }

  @media screen and (max-width: 700px) {
    .personal_info {
      flex-direction: column;
      height: 675px;
    }
  }

  .works {
    margin-bottom: 30px;
  }
  